/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
run
installation.txt
supervisor_logs.txt
tracker
.env
sender
sender.zip
